/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #c94b4b;
    font-family: mocondo, opensans;
    
}

h2 {
    padding: 51px;
    font-family: 'macondo','opensans';
    font-size: 2em;
    text-align: center;
    
}

p {
    font-family: 'opensans';
    font-size: 1.2em;
}

/* menu  */
header{
    border: 70px;
    background-color: #963838;
    position: fixed ;
    left: 0;
    top: 0;
    width:100%;
}

.header__logo{
           max-height: 6em;
           float: left;
           
}

h1{
    padding:20px 20px;
    text-align: center;
}

.header__menuHamburguesa{
    padding:20px; 
    margin: -11px;
    
    
}

.menuHamburguesa__logo{
    max-height: 2em;
    float: left;
    padding: 0 62px;
    margin: 0 2px;
    
}
ul {
    list-style: none;
    font-size:0;
    padding: 3px 176px;
    
   }
   li {
    display: inline-block;
    width: 17%;
    position:relative;
    font-size: 20px; 
   }
   ul ul {
    position: absolute;
    display: none;
    padding: 0px;
   }
   ul ul li {
    display: block;
    bottom: solid black;
   }
   ul li:hover ul {
    display:block;
   }


   /* Principal */
   .mapa__imagen{
       margin: 0px;
       max-width: 33%;
   }
   .mapa__title {
       font-family:'macondo', 'opensans';
       font-size: 2em;
       margin: 2em;
   }

   main {
       padding:20px;
   }
h3{
    font-family: macondo;
    font-size: 1.5em;
    color: white;
}

/* primera pagina */
.mapa__title{
    font-size: 50px;
}




/*  Pagina de libros */













/* footer */
footer{
    background-color: #610404;
    margin: -10px;
}
.footer__copyright{
    color:white;
}
.footer__logoFacebook{
    max-width: 5%;
}
.footer__logoInstagram{
    max-width: 4%;
}
.footer__logoTwitter{
    max-width: 4%;
}